# Week 8 - SQL basics I

# Chapter 7: Introduction to Structured Query Language (SQL)

## Preview

* **SQL (Structured Query Language):** Pronounced S-Q-L or sequel. Used to create database/table structures, manipulate data, administer databases, and query for information. 
* **Supported by Relational DBMS:** All relational database management systems (RDBMS) support SQL, though vendors might add extensions. 
* **Focus:** Primarily on data definition (creating tables/indexes) and data manipulation (adding, modifying, deleting, retrieving data). 
* **Common Task:** Data retrieval is a critical skill for database professionals. 

## 7-1 SQL Basics

* **Ideal Database Language:** Should allow creating structures, managing data (add, delete, modify), and complex querying with minimal effort and easy-to-learn syntax. 
* **Portability:** SQL aims for portability through standards (ANSI/ISO), but vendor-specific dialects exist, requiring minor changes when moving between RDBMS. 
* **SQL Categories:** 
    * **DML (Data Manipulation Language):** Commands like `INSERT`, `UPDATE`, `DELETE`, `SELECT` for data operations. 
    * **DDL (Data Definition Language):** Commands like `CREATE TABLE`, `ALTER TABLE`, `CREATE INDEX` for defining database objects. 
    * **TCL (Transaction Control Language):** Commands like `COMMIT`, `ROLLBACK` to manage transactions (logical units of work). 
    * **DCL (Data Control Language):** Commands like `GRANT`, `REVOKE` to control access rights. 
* **Nonprocedural Language:** You specify *what* to do, not *how* to do it. 

### 7-1a Data Types

* **Definition:** Specifies the kind of data an attribute (column) can store. 
* **Importance:** Affects query syntax and behavior. 
* **Fundamental Types:** 
    * **Character Data (String):** Any printable characters (letters, digits, symbols). 
    * **Numeric Data:** Digits with a specific numeric value. 
    * **Date Data:** Date and sometimes time values. 

### 7-1b SQL Queries

* **Query:** In SQL, covers both questions (data retrieval) and actions (data modification, object creation). 
* **`SELECT` Query:** The primary tool for data retrieval. Returns a set of rows similar to a relational table. 
* **Set-Oriented:** SQL commands typically operate over entire sets of rows and columns. 
* **`SELECT` Clauses (Building Blocks):** Specify *what* data, *how* to filter, aggregate, and display it. 

### 7-1c The Database Model

* This chapter uses a sample database model (CUSTOMER, INVOICE, LINE, PRODUCT, VENDOR) to illustrate SQL commands. (See Figure 7.1 in the text). 
* **Business Rules (Examples):** 
    * A customer can have many invoices; each invoice belongs to one customer.
    * An invoice contains one or more lines; each line belongs to one invoice.
    * Each line references one product; a product can be on many lines.
    * A vendor can supply many products; a product is supplied by only one vendor (or none).

## 7-2 Basic SELECT Queries

* **Core Clauses:** A `SELECT` query needs at least `SELECT` (columns) and `FROM` (table). 
* **`SELECT` Clause:** Specifies the attributes (columns) to return (Projection). Determines *which* columns and their *order*. 
* **`FROM` Clause:** Specifies the table(s) to retrieve data from. 
* **Other Clauses:** 
    * `WHERE`: Filters rows (Selection/Restriction).
    * `GROUP BY`: Groups rows with matching values.
    * `HAVING`: Filters groups.
    * `ORDER BY`: Sorts the final result.
* **Formatting:** Use separate lines and indentation for readability. 

## 7-3 SELECT Statement Options

* **Basic Syntax:** 
    ```sql
    SELECT columnlist
    FROM tablelist;
    ```
* **Selecting All Columns (`*`):** The asterisk wildcard retrieves all columns from the specified table. 
    ```sql
    SELECT *
    FROM PRODUCT; -- Returns all columns and rows from PRODUCT 
    ```
* **Selecting Specific Columns:** List column names separated by commas. The order in the list determines the output order. 
    ```sql
    SELECT P_CODE, P_DESCRIPT, P_PRICE, P_QOH
    FROM PRODUCT; -- Returns only specified columns 
    ```

### 7-3a Using Column Aliases

* **Alias:** An alternative name given to a column in the query output. Useful for clarity or renaming default/computed column headings. 
* **Syntax:** Use the `AS` keyword (optional but recommended) or just a space. Put aliases with spaces or special characters in delimiters (e.g., double quotes). 
    ```sql
    SELECT
        P_CODE,
        P_DESCRIPT AS DESCRIPTION, -- Alias using AS
        P_PRICE AS "Unit Price",   -- Alias with space (needs quotes)
        P_QOH QTY                  -- Alias without AS
    FROM PRODUCT;
    -- Output columns: P_CODE, DESCRIPTION, Unit Price, QTY 
    ```
* **Delimiters:** Can control capitalization and allow special characters/keywords in aliases (generally discouraged). MySQL uses backticks (\`) for aliases referenced elsewhere (e.g., `ORDER BY`). 

### 7-3b Using Computed Columns

* **Computed/Calculated Column:** Represents a derived attribute calculated using formulas or expressions within the `SELECT` list. 
* **Example:** Calculate total inventory value. 
    ```sql
    SELECT
        P_DESCRIPT,
        P_QOH,
        P_PRICE,
        P_QOH * P_PRICE -- Computed column 
    FROM PRODUCT;
    ```
* **Alias for Computed Columns:** Recommended for readability. Different DBMS have different default names (e.g., `Expr1` in Access, formula text in Oracle). 
    ```sql
    SELECT
        P_DESCRIPT,
        P_QOH,
        P_PRICE,
        P_QOH * P_PRICE AS TOTVALUE -- Alias for computed column 
    FROM PRODUCT;
    ```

### 7-3c Arithmetic Operators: The Rule of Precedence

* **Operators:** SQL supports standard arithmetic operators (`+`, `-`, `*`, `/`). 
* **Precedence:** Operations follow standard algebraic rules (parentheses first, then multiplication/division, then addition/subtraction). 

*(Sections 7-4 to 7-7e cover WHERE, GROUP BY, HAVING, ORDER BY, Subqueries, Functions, and Basic Joins. Summaries would follow a similar pattern based on the text.)*

## 7-7 Joining Database Tables

*(This section covers various ways to combine data from multiple tables)*

### (Example: Old-Style Join - Generally Not Recommended)

* Combines tables in the `FROM` clause and specifies join conditions in the `WHERE` clause. 
* **Potential Issues:** Mixes join logic with filtering logic, harder to maintain, susceptible to undetected errors if join conditions are missed. 
    ```sql
    -- Old-style join example
    SELECT P_CODE, P_DESCRIPT, P_PRICE, V_NAME
    FROM PRODUCT, VENDOR -- Tables listed in FROM
    WHERE PRODUCT.V_CODE = VENDOR.V_CODE; -- Join condition in WHERE 
    ```

### (Example: JOIN ON Syntax - Recommended)

* Keeps join logic clearly within the `FROM` clause. 
    ```sql
    -- Recommended JOIN ON syntax
    SELECT P_CODE, P_DESCRIPT, P_PRICE, V_NAME
    FROM PRODUCT JOIN VENDOR ON PRODUCT.V_CODE = VENDOR.V_CODE;
    ```

### 7-7f Outer Joins *(Optional)*

* **Purpose:** Returns rows matching the join condition *plus* rows from one table that don't have a match in the other. 
* **Types:** 
    * **LEFT OUTER JOIN:** Returns all rows from the *left* table and matched rows from the *right* table. Unmatched right table columns get NULLs. 
        ```sql
        -- List all vendors and their products, including vendors with no products
        SELECT P_CODE, VENDOR.V_CODE, V_NAME
        FROM VENDOR LEFT JOIN PRODUCT ON VENDOR.V_CODE = PRODUCT.V_CODE;
        -- 
        ```
    * **RIGHT OUTER JOIN:** Returns all rows from the *right* table and matched rows from the *left* table. Unmatched left table columns get NULLs. 
        ```sql
        -- List all products and their vendors, including products with no vendor
        SELECT P_CODE, VENDOR.V_CODE, V_NAME
        FROM VENDOR RIGHT JOIN PRODUCT ON VENDOR.V_CODE = PRODUCT.V_CODE;
        -- 
        ```
    * **FULL OUTER JOIN:** Returns all rows from *both* tables, filling in NULLs for non-matching columns on either side.

### 7-7g Cross Joins *(Optional)*

* **Purpose:** Returns the Cartesian product of two tables â€“ every row from the first table combined with every row from the second table. 
* **Syntax:**
    ```sql
    -- Using CROSS JOIN keyword (Not supported by Access)
    SELECT * FROM T1 CROSS JOIN T2;

    -- Using comma syntax (Supported by most DBMS)
    SELECT * FROM T1, T2; -- 
    ```
* **Caution:** Generates large result sets; rarely used except for specific scenarios like generating test data.

### 7-7h Joining Tables with an Alias

* **Purpose:** Use aliases for table names to shorten them or improve readability, especially in complex queries or with long/cryptic table names. 
* **Syntax:** Define alias after the table name in the `FROM` clause ( `AS` keyword may be required/optional depending on DBMS). 
    ```sql
    SELECT P_DESCRIPT, P_PRICE, V_NAME, V_CONTACT
    FROM PRODUCT P JOIN VENDOR V ON P.V_CODE = V.V_CODE;
    -- P is alias for PRODUCT, V is alias for VENDOR 
    ```

### 7-7i Recursive Joins

* **Purpose:** Joining a table to itself, typically used with unary relationships (e.g., an employee table where employees have managers who are also employees). 
* **Requirement:** Requires table aliases to distinguish between the two instances of the same table in the join. 
    ```sql
    -- Hypothetical example: Find employees and their managers
    SELECT E.EMP_NAME, M.EMP_NAME AS MANAGER_NAME
    FROM EMPLOYEE E JOIN EMPLOYEE M ON E.MANAGER_ID = M.EMP_ID;
    -- E represents the employee role, M represents the manager role
    ```

---